@page "/"
<h1>Welcome to EventEase</h1>

<EventCard Title="Tech Conference 2025"
           Date="@DateTime.Now.AddDays(10)"
           Location="Chennai Convention Center"
           Description="Join us for a full-day event exploring the latest in tech!" />
